.form-group{
	width: 25em;
	height: 50em;
	margin-left: 6.5em;
	background-color: lightblue;
	margin-top: .5em;
}
.form-group p{
	margin-left: 2em;
}
img {
	height: 50em;
	width: 50em;
	margin-top: 1em;
	margin-right: 5em;
}
.styleBtn{
	margin: 1em 0;
	margin-left: 3.3em;
}
#search{
	margin-left: 5em;
	margin-top: .4em;
}
#flightSearch{
	/*style flightSearch Here*/

}
#searchResults{
	list-style: none;
}
#accountLinksDiv{
	margin-left: 5em;
	margin-top: 2em;
	border: 1px solid lightblue;
	height: 20em;
	width: 30em;
	padding: 2em;
}
.c{
	font-size: 1.5em;
}

#accountLinksList{
	list-style: none;
}
